{% for ad in ads %}                
{% if ad.show_date %}
<li></li>
<li class="time">
    {% ifequal ad.added_at.day today.day %}
    <span>Сегодня</span>
    {% else %}
        {% ifequal ad.added_at.day yesterday.day %}
        <span>Вчера</span>
        {% else %}
        <span>{{ad.added_at|date:"d m"}}</span>
        {% endifequal %}
    {% endifequal %}
</li>
{% endif %}
<li class="{{ad.source}} {% ifnotequal ad.rating 100 %}agent{% endifnotequal %}" title="{{ad.title}}">
<a href="{{ad.key.name}}" target="_blank">{{ad.title}}</a>
    {% if admin or not ad.rating %}
    <div>
        <span>Похожие: <a href="/?phone={{ad.phone}}" target="_blank">{{ad.count_by_phone}}</a></span>
        {% if admin %}
            <span>Телефон: {{ad.phone}}</span>
            <span>Источник: {{ad.source}}</span>        
            <a href="/admin/ad/delete/{{ad.key}}">Удалить</a> <a href="/admin/ad/mark/{{ad.key}}">Агент!</a>
            <a href="/admin/ad/unmark/{{ad.phone}}">Не Агент!</a>
        {% endif %}
    </div>
    {% endif %}
</li>
{% endfor %}
