<!DOCTYPE HTML>
<html>
    <head>
        <title>Аренда квартир от хозяина</title>       
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,bold' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssfonts/fonts-min.css">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssbase/base-context-min.css">
        <link type="text/css" rel="stylesheet" media="all" href="/css/facebox.css" />
        <link type="text/css" rel="stylesheet" media="all" href="/css/style.css?10" />
    </head>
    <body>  
        <div id="header">
            <div>
                <a href="/" class='logo'><span class='first'>Rent</span><span class='second'>Filter</span></a>

                <div class="social">
                    <a href="http://vkontakte.ru/rentfilter" class="vkontakte">Вконтакте</a>
                    <a href="http://www.facebook.com/pages/RentFilter/202459219787387" class="facebook">Facebook</a>
                    <a href="http://twitter.com/rentfilter" class="twitter">Twitter</a>
                </div>                        
            </div>
        </div>
        <div id="about">
            <div>
                <h1>Снимите квартиру<div>без помощи риэлторов</div></h1>
                <p class='desc'>
                Не хотите платить агентам по недвижимости комиссию? RentFilter поможет снять квартиру без посредников. Наши роботы фильтруют объявления об аренде помещений и оставляют только те, которые подают сами хозяева квартир.
                </p>
                <div class='images' style='display: none'><div></div></div>
                <a id='thanks' rel="facebox" href="#thanks_form">Сказать "Спасибо"</a>
            </div>
        </div>
        <div id="thanks_form" style="display: none">
            <div class='thanks_form'>
                <h2>Помощь проекту RentFilter.ru</h2>
                <div class='desc'>Если благодаря нашему сайту вы успешно нашли себе квартиру для аренды, вы можете поблагодарить нас за помощь. Это будет вдохновлять нас на то, чтобы делать этот сайт еще более удобным и полезным.</div>
                <fieldset class="fastspring">
                    <legend>Карта или PayPal</legend>
                    <div class='amount'>$<input value="20" class="donation"/><input type="button" value="Оплатить" class="send_donation"/></div>
                </fieldset>
                <fieldset class="yandex">
                    <legend>Яндекс.Деньги</legend>
                    <div class='account'>41001903998889</div> <a href="http://money.yandex.ru/prepaid/">Как внести деньги</a>
                </fieldset>
            </div>
        </div>
        <div id="wrapper">            
            <div class="relative article">
                <h1>Что нужно сделать, чтобы снять квартиру без посредников</h1>
                <div class="block" id="call">
                    <h3>Связаться с хозяином</h3>
                    <p>Во время телефонного разговора с хозяином квартиры расскажите о себе полно и правдиво. Договоритесь о дне, когда сможете посмотреть квартиру</p>
                </div>
                <div class="block" id="examine">
                    <h3>Изучить документы на квартиру</h3>
                    <p>Перед тем, как заключить договор о найме, убедитесь в том, что человек, предлагающий свою квартиру в аренду, действительный ее владелец. Проверьте его паспорт и право собственности, а также правоустанавливающие (договор купли-продажи, мены, дарения, передачи) и правоподтверждающие документы.<p>
                    <p>Можно заплатить 100 рублей и проверить реальных собственников квартиры в Управлении Федеральной службы реестра (<a href="http://www.to77.rosreestr.ru/">http://www.to77.rosreestr.ru</a>): там значатся все сделки с недвижимостью, совершенные с 1998 года (кроме найма).</p>
                    <p>Все собственники квартиры  и прописанные в ней люди должны дать официальное согласие на ее аренду и присутствовать при подписании договора. Информацию про всех, кто зарегистрирован в квартире, можно проверить, взяв выписку из лицевого счета в ЖЭКе.</p>
                </div>
                <div class="block" id="sign">
                    <h3>Подписать договор</h3>
                    <a class="doc" href="https://docs.google.com/document/d/1jXhug6Int5xVcboQXuzhKkV7Fc-_CaHFaO-_HzGsUfg/edit?hl=ru">Открыть пример довора аренды</a>

                    <p>Прочитайте договор очень внимательно. Обратите внимание на имена собственников, срок сдачи, запланировано или нет повышение цены в течении срока сдачи, входят ли в стоимость месячной аренды коммунальные платежи, до какого числа каждый месяц должны выплачиваться деньги, описано ли имущество и состояние квартиры и т.д.</p>
                    <p>Будет большим плюсом, если в договоре с обеих сторон будут указаны все собственники квартиры и все, кто собирается в ней жить.</p>
                    <p>Помните, что договор найма заключается только между физическими лицами и сроком до 5 лет. Договор аренды может заключаться между юридическими лицами и на любой срок, но если срок равен или превышает 12 месяцев, то договор нужно регистрировать в УФРС.</p>

                    <p>Когда договор будет подписан и вы вселитесь в арендуемую квартиру, заведите отдельный блокнот, куда будете записывать все выплаты хозяевам помещения. А они должны каждый раз ставить там свою подпись.</p>
                </div>     
                <div class="block">
                    <h3>Сказать "Спасибо"</h3>
                    <p>Если благодаря нашему сайту вы успешно нашли себе квартиру для аренды, вы можете вернуться на <a href="http://www.rentfilter.ru">RentFilter.ru</a> и поблагодарить нас за помощь. Это будет вдохновлять нас на то, чтобы делать этот сайт еще более удобным и полезным.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div id="footer">
            <h3>Следите за нами в социальных сетях</h3>
            <div class="widgets">
                <div id="vkontakte">
                    <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?25"></script>

                    <!-- VK Widget -->
                    <div id="vk_groups"></div>
                    <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 0, width: "400", height: "250"}, 26047335);
                    </script>
                </div>
                <div id="twitter">
                    <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="rentfilter">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
                </div>
                <div id="facebook">
                    <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FRentFilter%2F202459219787387&amp;width=400&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true&amp;height=250" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:250px;" allowTransparency="true"></iframe>
                </div>
                <div class="shower">
                    <div></div>
                </div>
                <div class="about_us" name="about">
                    <h3>О проекте</h3>
                    <p>Зайдя на любой сайт с объявлениями об аренде квартир, вам придется позвонить не по одному десятку номеров, прежде чем найти объявление действительно от владельца квартиры, а не от риэлторского агентства. Но и это может случиться, только если вам очень повезет.</p>
                    <p>RentFilter поможет снять квартиру без посредников. Наши роботы фильтруют объявления об аренде помещений и оставляют только те, которые подают сами хозяева квартир.</p>
                    <p style="white-space:nowrap;">Если у вас возникли вопросы, пишите нам <a href="http://rentfilter.copiny.com/">сюда</a> или на почту <a href='mailto:contacts@rentfilter.ru'>contacts@rentfilter.ru</a></p>
                    <br/>
                    <br/>
                    <br/>
                    <p>
                        <a href="javascript:;" class='move_up'>Вверх!</a>                                                
                        <span class="api">А еще у нас есть <a href="/api">API</a></span>
                    </p>
                </div>
            </div>
            <div class="clear admin_links">
                {% if admin %}
                <a href="{{logout_url}}">Выйти</a>
                {% else %}
                <a href="{{login_url}}">Вход для администраторов</a>
                {% endif %}
            </div>
        </div>
        <div id="other_towns_popup" style="display:none">
            <div class='other_towns'>
                <h2>RentFilter в вашем городе</h2>
                <p>В данный момент мы работаем в тестовом режиме, только в Санкт-Петербурге. Вы можете подписаться на наши новости по ниже следующим ссылкам.</p>

                <div class="social">
                    <a href="http://vkontakte.ru/rentfilter" class="vkontakte">Вконтакте</a>
                    <a href="http://www.facebook.com/pages/RentFilter/202459219787387" class="facebook">Facebook</a>
                    <a href="http://twitter.com/rentfilter" class="twitter">Twitter</a>
                </div>                        
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="/js/images.js"></script>
        <script src="/js/scale.raphael.js"></script>
        <script src="/js/raphael-min.js"></script>
        <script src="/js/jquery.tooltip.min.js"></script>        
        <script src="/js/facebox.js"></script>
        <script src="/js/app.js"></script>

        <!-- Yandex.Metrika counter --><div style="display:none;"><script type="text/javascript">(function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter7309270 = new Ya.Metrika({id:7309270, enableAll: true}); } catch(e) { } }); })(window, 'yandex_metrika_callbacks');</script></div><script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script><noscript><div><img src="//mc.yandex.ru/watch/7309270" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

<script type="text/javascript">
  var _kmq = _kmq || [];
  function _kms(u){
    setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/56d5826bacafb03af035519fca681465654a3815.1.js');
</script>
    </body>
</html>
